/*

        Creating a sprite from following images:
        
        app/assets/images/sprites/sueddeutsche.png (200x30)
        app/assets/images/sprites/taz.png (195x30)
        app/assets/images/sprites/hochschulanzeiger.png (154x30)
        app/assets/images/sprites/tagesspiegel.png (116x30)
        app/assets/images/sprites/deutschlandfunk.png (90x30)
        app/assets/images/sprites/arte.png (90x30)
        app/assets/images/sprites/pioneerbutton.png (60x59)

        Output files:
          app/assets/images/sprites.png
          app/assets/stylesheets/sprites.scss

        Output size:
          260x150


*/
span.sprite_sueddeutsche { width: 200px; height: 30px; background: image-url('sprites.png') 0px 0px no-repeat; }
span.sprite_taz { width: 195px; height: 30px; background: image-url('sprites.png') 0px -30px no-repeat; }
span.sprite_hochschulanzeiger { width: 154px; height: 30px; background: image-url('sprites.png') 0px -60px no-repeat; }
span.sprite_tagesspiegel { width: 116px; height: 30px; background: image-url('sprites.png') 0px -90px no-repeat; }
span.sprite_deutschlandfunk { width: 90px; height: 30px; background: image-url('sprites.png') 0px -120px no-repeat; }
span.sprite_arte { width: 90px; height: 30px; background: image-url('sprites.png') -90px -120px no-repeat; }
span.sprite_pioneerbutton { width: 60px; height: 59px; background: image-url('sprites.png') -200px 0px no-repeat; }
